<template name="TopNav">
  <div class="navbar-fixed teal" style="top:0px">
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo" style="margin-left:10px; font-weight: 400; font-family: 'Dancing Script', cursive;">HackingEDU</a>
        <ul class="right hide-on-med-and-down">
          {{#unless currentUser}}
          <li>{{> loginButtons}}</li>
          {{/unless}}
          {{#if currentUser}}
          <li>{{currentEmail}}</li>
          {{/if}}
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>

        </ul>
      </div>
    </nav>
  </div>
</template>
